.infoTitles{
    -fx-text-fill: dodgerblue;
    -fx-font-size: 15;
    -fx-font-family: Futura;
}

.infoValues{
    -fx-text-fill: #179e5e;
    -fx-font-size: 10;
    -fx-font-family: Futura;
}

.button{
    -fx-background-color: firebrick;
    -fx-text-fill: aliceblue;
    -fx-padding: 10;
    -fx-font-family: Futura;
    -fx-font-size: 10pt;
    -fx-pref-height: 25;
    -fx-pref-width: 75;
    -fx-cursor: hand;
    -fx-border-radius: 3;
}