.root{
    -fx-background-color: linear-gradient(#656262, #179e5e);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#title{
    -fx-text-fill: aliceblue;
    -fx-font-size: 40;
    -fx-font-family: Futura;
}
.button{
    -fx-background-color: firebrick;
    -fx-text-fill: aliceblue;
    -fx-padding: 10;
    -fx-font-family: Futura;
    -fx-font-size: 15pt;
    -fx-pref-height: 50;
    -fx-pref-width: 100;
    -fx-cursor: hand;
    -fx-border-radius: 3;
}