.root{
    -fx-background-color: linear-gradient(#656262, #0c3902);
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}
#title{
    -fx-text-fill: aliceblue;
    -fx-font-size: 40;
    -fx-font-family: Futura;
}
.button{
    -fx-background-color: dodgerblue;
    -fx-text-fill: aliceblue;
    -fx-padding: 10;
    -fx-font-family: Futura;
    -fx-font-size: 12pt;
    -fx-pref-height: 50;
    -fx-pref-width: 150;
    -fx-cursor: hand;
    -fx-border-radius: 3;
}

.infoTitle{
    -fx-text-fill: aliceblue;
    -fx-font-size: 20;
    -fx-font-family: Futura;
}
.infoValue{
    -fx-text-fill: aqua;
    -fx-font-size: 20;
    -fx-font-family: Futura;
}

#close{
    -fx-background-color: firebrick;
}

#addAdmin{
    -fx-background-color: darkgreen;
}
#reset{
    -fx-padding: 5;
    -fx-pref-height: 15;
    -fx-pref-width: 70;
}