.root{
    -fx-background-image: url("../MainMenu/Background.jpg");
}
.normal-button{
    -fx-background-color: dodgerblue;
    -fx-text-fill: aliceblue;
    -fx-padding: 10;
    -fx-font-family: Futura;
    -fx-font-size: 15pt;
    -fx-pref-height: 75;
    -fx-pref-width: 150;
    -fx-cursor: hand;
    -fx-border-radius: 3;
}
#cart{
    -fx-background-color: darkgreen;
}
#exit{
    -fx-background-color: firebrick;
}